
#intro {
	position:fixed;
	top:0px;
	left:0;
	right:0;
	height:450px;
	padding-top:80px;
	padding-bottom:90px;
	z-index:-1;
	background: url('/pictures/macbook-background.jpg') 50% center;
	color:black;
}
